/* this is the css applied to the home page */

/* landing section */
.landing {
    width: 100%;
    position: relative;
    margin: auto;
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.landing img {
    width: 100%;
    height: 51vw;
    z-index: -1;
    filter: brightness(40%) saturate(1.5) contrast(.75);
}

h1 {
    font-size: 5vw;
    margin: 0;
}

.landing h2 {
    margin: 0;
    font-style: italic;
}

.landing button {
    margin: 1.5vw;
    font-size: 1.5em;
    padding: .5vw 0.5vw;
    border-radius: .85vw;
    border: 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.landing button:after {
    content: ">";
    transition: 0.5s;
    position: absolute;
    opacity: 0;  
    /* top: 14px; */
    right: -20px;
}

.landing button:hover{
    padding-right: 24px;
    padding-left:8px;
}

.landing button:hover:after {
    opacity: 1;
    right: 10px;
}

/*polaroids*/
.polaroid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(219, 219, 219);
    width: 30vw;
    height: 40vw;
    padding: 3vw;
    margin: 2vw;
}

.photo { 
    border: 1px solid rgb(0, 0, 0);
    width: 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 123px;
    /* this is intended to center the photo within the div but isnt working, so u might wanna look up how to center an img in a div */
}

.polaroid h1 {
    color:rgb(126, 27, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

dialog {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: greenyellow;
    
}
.modal-container {
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "pic type type type"
        "collection collection collection collection";
    gap: 5vw;
}

.modal-pic {
    grid-area: pic;
}

.modal-text {
    grid-area: type;
}

.modal-collection {
    grid-area: collection;
}