/* this is the css applied to every page on the site */
/* override certain attributes for other css files by using !important */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}