section { 
    width: 50vh;
    height: 50vh;
    margin-top: 10px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
} 

.outerborder {
    border: 5px solid black;
    margin: 3vh;
    padding: 1vh;
    background-color: rgba(224, 224, 224, 0.918);
}

.innerborder {
    border: 5px solid black;
    margin: 3vh;
    margin-bottom: 20vh;
    padding: 3vh;
    background-color: white;
}

body{
    display: flex;
    justify-content: center;
}